@media (max-width: 992px) {
  .hidden-md {
    visibility: hidden;
    display: none;
  }
  .hidden-lg{
    width: 100%;
  }
    
}
@media (min-width: 992px) {
  .hidden-md{
    width: 100%;
   }
   .hidden-lg{
    visibility: hidden;
    display: none;
    width: 100%;
   }
    
}